#facebox {
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  position: fixed;
}


#facebox .popup{
  position:relative;
  border:2px solid #fff;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
 /* -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);*/
}

#facebox .content {
  display:table;
  max-width: 240px;
  padding: 10px 40px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  /*box-shadow: inset 0px 0px 10px #b5b5b5;*/
  box-shadow: inset 0px 0px 22px 13px #bbc8b5;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px 4px;
  background: #ef0000;
  opacity: 1;
  border: solid 1px #333;
  border-radius: 3px;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
.pretext {
    font-size: 19px;
    font-family: Georgia;
	color: #F30000;
    text-shadow: 1px 0 0px #000;
}