AddDefaultCharset utf-8
php_flag display_errors On
php_value error_reporting "E_ALL & ~E_NOTICE"
ErrorDocument 401 http://rome/errors/401.php
ErrorDocument 403 http://rome/errors/403.php
ErrorDocument 404 http://rome/errors/404.php
ErrorDocument 500 http://rome/errors/500.php
ErrorDocument 502 http://rome/errors/502.php